.Viper-button {
    position: relative;
    border-radius: 0.3em;
    cursor: pointer;
    display: inline-block;
    font-size: 1.6em;
    line-height: 1.7em;
    margin-left: 0.3em;
    min-width: 1em;
    padding: 0 0.5em;
    text-align: center;
}

.Viper-button:first-child {
    margin-left: 0;
}

/* Button Groups */

.Viper-buttonGroup {
    display: inline-block;
    margin-left: 0.6em;
}

.Viper-buttonGroup:first-child {
    margin-left: 0;
}

.Viper-buttonGroup .Viper-button {
    border-radius: 0;
    margin: 0;
}

.Viper-buttonGroup .Viper-button:first-child {
    border-top-left-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
}

.Viper-buttonGroup .Viper-button:last-child {
    border-top-right-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
}

/* Theme - Dark Grey */

.themeDark .Viper-button {
    background-color: #dadade;
    border: none;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.9) inset;
    background: -webkit-gradient(linear, left top, left bottom, from(#e9e9eb), to(#c9c9d0));
    background: -moz-linear-gradient(top,  #e9e9eb,  #c9c9d0);
/*     -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#e9e9eb, endColorstr=#c9c9d0)"; */
}

.themeDark .Viper-button:hover {
    background: #c9c9cd;
    background: -webkit-gradient(linear, left top, left bottom, from(#d8d8da), to(#b8b8ca));
    background: -moz-linear-gradient(top,  #c8c8c9,  #a8a8b9);
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

.themeDark .Viper-button:active,
.themeDark .Viper-button.active,
.themeDark .Viper-button.active:hover,
.themeDark .Viper-button.selected,
.themeDark .Viper-button.selected:hover {
    color: #FFF;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
    box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.85) inset;
}

.themeDark .Viper-button.active,
.themeDark .Viper-button.active:hover {
/* .themeDark .Viper-button.active.selected, */
/* .themeDark .Viper-button.active.selected:hover { */
    background: #2d73d2;
    background: -webkit-gradient(linear, left top, left bottom, from(#3987f2), to(#205caf));
    background: -moz-linear-gradient(top,  #3987f2,  #205caf);
}

.themeDark .Viper-button:active,
.themeDark .Viper-button.selected,
.themeDark .Viper-button.selected:hover {
    background: #54535A;
    border-color: #555;
}

.themeDark .Viper-buttonGroup .Viper-button {
    border-left: 1px solid #898989;
}

.themeDark .Viper-buttonGroup .Viper-button:first-child,
.themeDark .Viper-buttonGroup .Viper-button.active,
.themeDark .Viper-buttonGroup .Viper-button.selected {
    border-left: none;
}

/* Theme - Light Grey */

.themeLight .Viper-button {
    background-color: #dadade;
    border: 1px solid #AAA;
    box-shadow: 0 1px 0 rgba(255,255,255,0.95) inset;
    background: -webkit-gradient(linear, left top, left bottom, from(#e9e9eb), to(#c9c9d0));
    background: -moz-linear-gradient(top,  #e9e9eb,  #c9c9d0);
}

.themeLight .Viper-button:hover {
    background-color: #c9c9cd;
    background: -webkit-gradient(linear, left top, left bottom, from(#d8d8da), to(#b8b8c0));
    background: -moz-linear-gradient(top,  #d8d8da,  #b8b8c0);
}

.themeLight .Viper-button:active,
.themeLight .Viper-button.active,
.themeLight .Viper-button.active:hover,
.themeLight .Viper-button.selected,
.themeLight .Viper-button.selected:hover {
    color: #FFF;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
    box-shadow: 0 0 0.2em 0 rgba(0, 0, 0, 0.6) inset;
}

.themeLight .Viper-button:active,
.themeLight .Viper-button.selected,
.themeLight .Viper-button.selected:hover {
    background: #888;
    border-color: #555;
}

.themeLight .Viper-button.active,
.themeLight .Viper-button.active:hover,
.themeLight .Viper-button.active.selected,
.themeLight .Viper-button.active.selected:hover {
    background: #5a8bd0;
    border-color: #2e568d;
}

.themeLight .Viper-buttonGroup .Viper-button {
    border-left-width: 0;
}

.themeLight .Viper-buttonGroup .Viper-button:first-child {
    border-left-width: 1px;
}

/* Button Icons */

.Viper-button .buttonIcon {
    position: absolute;
    width: 25px;
    height: 20px;
    left: 50%;
    top: 50%;
    margin: -10px 0 0 -12px;
    background-image: url(../Images/buttonIcons.png);
}

/* Arrow Up */
.icon-arrowUp .buttonIcon {
    background-position: 0 0;
}
.icon-arrowUp:active .buttonIcon,
.icon-arrowUp.active .buttonIcon,
.icon-arrowUp.selected .buttonIcon {
    background-position: -33px 0;
}

/* Arrow Down */
.icon-arrowDown .buttonIcon {
    background-position: 0 -27px;
}
.icon-arrowDown:active .buttonIcon,
.icon-arrowDown.active .buttonIcon,
.icon-arrowDown.selected .buttonIcon {
    background-position: -33px -27px;
}

/* Delete */
.icon-delete .buttonIcon {
    background-position: 0 -54px;
}
.icon-delete:active .buttonIcon,
.icon-delete.active .buttonIcon,
.icon-delete.selected .buttonIcon {
    background-position: -33px -54px;
}

/* Add Up */
.icon-addUp .buttonIcon {
    background-position: 0 -81px;
}
.icon-addUp:active .buttonIcon,
.icon-addUp.active .buttonIcon,
.icon-addUp.selected .buttonIcon {
    background-position: -33px -81px;
}

/* Add Down */
.icon-addDown .buttonIcon {
    background-position: 0 -108px;
}
.icon-addDown:active .buttonIcon,
.icon-addDown.active .buttonIcon,
.icon-addDown.selected .buttonIcon {
    background-position: -33px -108px;
}

/* Arrow Left */
.icon-arrowLeft .buttonIcon {
    background-position: 0 -135px;
}
.icon-arrowLeft:active .buttonIcon,
.icon-arrowLeft.active .buttonIcon,
.icon-arrowLeft.selected .buttonIcon {
    background-position: -33px -135px;
}

/* Arrow Right */
.icon-arrowRight .buttonIcon {
    background-position: 0 -162px;
}
.icon-arrowRight:active .buttonIcon,
.icon-arrowRight.active .buttonIcon,
.icon-arrowRight.selected .buttonIcon {
    background-position: -33px -162px;
}

/* Arrow Left */
.icon-arrowLeft .buttonIcon {
    background-position: 0 -135px;
}
.icon-arrowLeft:active .buttonIcon,
.icon-arrowLeft.active .buttonIcon,
.icon-arrowLeft.selected .buttonIcon {
    background-position: -33px -135px;
}

/* Arrow Right */
.icon-arrowRight .buttonIcon {
    background-position: 0 -162px;
}
.icon-arrowRight:active .buttonIcon,
.icon-arrowRight.active .buttonIcon,
.icon-arrowRight.selected .buttonIcon {
    background-position: -33px -162px;
}

/* Split Horiz */
.icon-splitHoriz .buttonIcon {
    background-position: 0 -189px;
}
.icon-splitHoriz:active .buttonIcon,
.icon-splitHoriz.active .buttonIcon,
.icon-splitHoriz.selected .buttonIcon {
    background-position: -33px -189px;
}

/* Split Vert */
.icon-splitVert .buttonIcon {
    background-position: 0 -216px;
}
.icon-splitVert:active .buttonIcon,
.icon-splitVert.active .buttonIcon,
.icon-splitVert.selected .buttonIcon {
    background-position: -33px -216px;
}

/* Move */
.icon-move .buttonIcon {
    background-position: 0 -243px;
}
.icon-move:active .buttonIcon,
.icon-move.active .buttonIcon,
.icon-move.selected .buttonIcon {
    background-position: -33px -243px;
}

/* Add Left */
.icon-addLeft .buttonIcon {
    background-position: 0 -270px;
}
.icon-addLeft:active .buttonIcon,
.icon-addLeft.active .buttonIcon,
.icon-addLeft.selected .buttonIcon {
    background-position: -33px -270px;
}

/* Add Right */
.icon-addRight .buttonIcon {
    background-position: 0 -297px;
}
.icon-addRight:active .buttonIcon,
.icon-addRight.active .buttonIcon,
.icon-addRight.selected .buttonIcon {
    background-position: -33px -297px;
}