.Viper-button {
    border-radius: 0.3em;
    cursor: pointer;
    display: inline-block;
    margin-left: 0.3em;
    line-height: 1.6em;
    min-width: 1.7em;
    font-size: 1.8em;
    text-align: center;
}

.Viper-button:first-child {
    margin-left: 0;
}

/* Button Groups */

.Viper-buttonGroup {
    display: inline-block;
    margin-left: 0.6em;
}

.Viper-buttonGroup:first-child {
    margin-left: 0;
}

.Viper-buttonGroup .Viper-button {
    border-radius: 0;
    margin: 0;
}

.Viper-buttonGroup .Viper-button:first-child {
    border-top-left-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
}

.Viper-buttonGroup .Viper-button:last-child {
    border-top-right-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
}

/* Theme - Dark Grey */

.Viper-button {
    background-color: #242323;
    border: none;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6), 0 1px 0 rgba(255, 255, 255, 0.9) inset;
    background: -webkit-gradient(linear, left top, left bottom, from(#e9e9eb), to(#c9c9d0));
    background: -moz-linear-gradient(top,  #e9e9eb,  #c9c9d0);
}

.Viper-button:hover {
/*     color: #000; */
    background: -webkit-gradient(linear, left top, left bottom, from(#b8b8b9), to(#a0a0a2));
    background: -moz-linear-gradient(top,  #b8b8b9,  #a0a0a2);
}

.Viper-button.active {
    background: -webkit-gradient(linear, left top, left bottom, from(#3987f2), to(#205caf));
    background: -moz-linear-gradient(top,  #3987f2,  #205caf);
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.85) inset;
    color: #FFF;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
}

/* Theme - Light Grey */

.themeLight .Viper-buttonGroup .Viper-button {
    border-left-width: 0;
}

.themeLight .Viper-buttonGroup .Viper-button:first-child {
    border-left-width: 1px;
}

.themeLight .Viper-button {
    background-color: #e4e4e4;
    border: 1px solid #AAA;
    box-shadow: 0 1px 0 rgba(255,255,255,0.95) inset;
    background: -webkit-gradient(linear, left top, left bottom, from(#e9e9eb), to(#c9c9d0));
    background: -moz-linear-gradient(top,  #e9e9eb,  #c9c9d0);
}

.themeLight .Viper-button:hover {
    background-color: #d3d3d3;
/*     color: #000; */
    background: -webkit-gradient(linear, left top, left bottom, from(#d8d8da), to(#b8b8c9));
    background: -moz-linear-gradient(top,  #d8d8da,  #b8b8c9);
}

.themeLight .Viper-button.active,
.themeLight .Viper-button.active:hover,
.themeLight .Viper-button.selected,
.themeLight .Viper-button.selected:hover {
    color: #FFF;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
    box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.6) inset;
}

.themeLight .Viper-button.active,
.themeLight .Viper-button.active:hover {
    background: #5a8bd0;
    border-color: #2e568d;
}

.themeLight .Viper-button.selected,
.themeLight .Viper-button.selected:hover {
    background: #888;
    border-color: #555;
}