.Viper-buttonIcon.Viper-ees-link {
  background-position: 0 -675px;
}
.Viper-button:active .Viper-buttonIcon.Viper-ees-link, .Viper-button.Viper-active .Viper-buttonIcon.Viper-ees-link, .Viper-button.Viper-selected .Viper-buttonIcon.Viper-ees-link {
  background-position: -33px -675px;
}
.Viper-buttonIcon.Viper-ees-image {
  background-position: 0 -756px;
}
.Viper-button:active .Viper-buttonIcon.Viper-ees-image, .Viper-button.Viper-active .Viper-buttonIcon.Viper-ees-image, .Viper-button.Viper-selected .Viper-buttonIcon.Viper-ees-image {
  background-position: -33px -756px;
}
.Viper-buttonIcon.Viper-ees-target {
  background-position: 0 -1215px;
}
.Viper-button:active .Viper-buttonIcon.Viper-ees-target, .Viper-button.Viper-active .Viper-buttonIcon.Viper-ees-target, .Viper-button.Viper-selected .Viper-buttonIcon.Viper-ees-target {
  background-position: -33px -1215px;
}
.Viper-button.Viper-ees-target {
  position: absolute;
  right: 0;
  top: 0;
  line-height: 2.1em;
}
.Viper-subSectionRow.Viper-urlRow {
  padding-right: 3.8em;
}
