.Viper-button {
  position: relative;
  border-radius: 0.3em;
  cursor: pointer;
  display: inline-block;
  font-size: 1.6em;
  line-height: 1.7em;
  margin-left: 0.3em;
  min-width: 1em;
  padding: 0 0.5em;
  text-align: center;
}
.Viper-button:first-child {
  margin-left: 0;
}
.Viper-button.disabled {
  opacity: 0.3;
}
.Viper-button.hidden {
  display: none;
}
/* Button Groups */
.Viper-buttonGroup {
  display: inline-block;
  margin-left: 0.6em;
}
.Viper-buttonGroup:first-child {
  margin-left: 0;
}
.Viper-buttonGroup .Viper-button {
  border-radius: 0;
  margin: 0;
}
.Viper-buttonGroup .Viper-button:first-child {
  border-top-left-radius: 0.3em;
  border-bottom-left-radius: 0.3em;
}
.Viper-buttonGroup .Viper-button:last-child {
  border-top-right-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
}
/* Theme - Dark Grey */
.themeDark .Viper-button, .themeDark .Viper-button.disabled:hover {
  background-color: #dadade;
  border: none;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.9) inset;
  background: -webkit-gradient(linear, left top, left bottom, from(#e9e9eb), to(#c9c9d0));
  background: -moz-linear-gradient(top, #e9e9eb, #c9c9d0);
  /*     -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#e9e9eb, endColorstr=#c9c9d0)"; */
}
.themeDark .Viper-button:hover {
  background: #c9c9cd;
  background: -webkit-gradient(linear, left top, left bottom, from(#d8d8da), to(#b8b8ca));
  background: -moz-linear-gradient(top, #c8c8c9, #a8a8b9);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.themeDark .Viper-button:active,
.themeDark .Viper-button.active,
.themeDark .Viper-button.active:hover,
.themeDark .Viper-button.selected,
.themeDark .Viper-button.selected:hover {
  color: #FFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.85) inset;
}
.themeDark .Viper-button.active, .themeDark .Viper-button.active:hover {
  background: #2d73d2;
  background: -webkit-gradient(linear, left top, left bottom, from(#3987f2), to(#205caf));
  background: -moz-linear-gradient(top, #3987f2, #205caf);
}
.themeDark .Viper-button:active, .themeDark .Viper-button.selected, .themeDark .Viper-button.selected:hover {
  background: #54535A;
  border-color: #555;
}
.themeDark .Viper-buttonGroup .Viper-button, .themeDark .Viper-buttonGroup .Viper-button.disabled:hover {
  border-left: 1px solid #898989;
}
.themeDark .Viper-buttonGroup .Viper-button:first-child,
.themeDark .Viper-buttonGroup .Viper-button.active,
.themeDark .Viper-buttonGroup .Viper-button.selected,
.themeDark .Viper-buttonGroup .Viper-button.disabled:first-child:hover {
  border-left: none;
}
/* Theme - Light Grey */
.themeLight .Viper-button, .themeLight .Viper-button.disabled:hover {
  background-color: #dadade;
  border: 1px solid #AAA;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.95) inset;
  background: -webkit-gradient(linear, left top, left bottom, from(#e9e9eb), to(#c9c9d0));
  background: -moz-linear-gradient(top, #e9e9eb, #c9c9d0);
}
.themeLight .Viper-button:hover {
  background-color: #c9c9cd;
  background: -webkit-gradient(linear, left top, left bottom, from(#d8d8da), to(#b8b8c0));
  background: -moz-linear-gradient(top, #d8d8da, #b8b8c0);
}
.themeLight .Viper-button:active,
.themeLight .Viper-button.active,
.themeLight .Viper-button.active:hover,
.themeLight .Viper-button.selected,
.themeLight .Viper-button.selected:hover {
  color: #FFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0.2em 0 rgba(0, 0, 0, 0.6) inset;
}
.themeLight .Viper-button:active, .themeLight .Viper-button.selected, .themeLight .Viper-button.selected:hover {
  background: #888;
  border-color: #555;
}
.themeLight .Viper-button.active,
.themeLight .Viper-button.active:hover,
.themeLight .Viper-button.active.selected,
.themeLight .Viper-button.active.selected:hover {
  background: #5a8bd0;
  border-color: #2e568d;
}
.themeLight .Viper-buttonGroup .Viper-button {
  border-left-width: 0;
}
.themeLight .Viper-buttonGroup .Viper-button:first-child {
  border-left-width: 1px;
}
/* Buttons */
.Viper-button.bold {
  font-weight: bold;
}
.Viper-button.italic {
  font-style: italic;
  font-family: Georgia, Arial;
}
.Viper-button.underline {
  text-decoration: underline;
}
.buttonIcon {
  position: absolute;
  width: 25px;
  height: 20px;
  left: 50%;
  top: 50%;
  margin: -10px 0 0 -12.5px;
  background-image: url(../Images/buttonIcons.png);
}
.buttonIcon.mergeUp {
  background-position: 0 0px;
}
.Viper-button:active .buttonIcon.mergeUp, .Viper-button.active .buttonIcon.mergeUp, .Viper-button.selected .buttonIcon.mergeUp {
  background-position: -33px 0px;
}
.buttonIcon.mergeDown {
  background-position: 0 -27px;
}
.Viper-button:active .buttonIcon.mergeDown, .Viper-button.active .buttonIcon.mergeDown, .Viper-button.selected .buttonIcon.mergeDown {
  background-position: -33px -27px;
}
.buttonIcon.delete {
  background-position: 0 -54px;
}
.Viper-button:active .buttonIcon.delete, .Viper-button.active .buttonIcon.delete, .Viper-button.selected .buttonIcon.delete {
  background-position: -33px -54px;
}
.buttonIcon.addAbove {
  background-position: 0 -81px;
}
.Viper-button:active .buttonIcon.addAbove, .Viper-button.active .buttonIcon.addAbove, .Viper-button.selected .buttonIcon.addAbove {
  background-position: -33px -81px;
}
.buttonIcon.addBelow {
  background-position: 0 -108px;
}
.Viper-button:active .buttonIcon.addBelow, .Viper-button.active .buttonIcon.addBelow, .Viper-button.selected .buttonIcon.addBelow {
  background-position: -33px -108px;
}
.buttonIcon.mergeLeft {
  background-position: 0 -135px;
}
.Viper-button:active .buttonIcon.mergeLeft, .Viper-button.active .buttonIcon.mergeLeft, .Viper-button.selected .buttonIcon.mergeLeft {
  background-position: -33px -135px;
}
.buttonIcon.mergeRight {
  background-position: 0 -162px;
}
.Viper-button:active .buttonIcon.mergeRight, .Viper-button.active .buttonIcon.mergeRight, .Viper-button.selected .buttonIcon.mergeRight {
  background-position: -33px -162px;
}
.buttonIcon.splitHoriz {
  background-position: 0 -189px;
}
.Viper-button:active .buttonIcon.splitHoriz, .Viper-button.active .buttonIcon.splitHoriz, .Viper-button.selected .buttonIcon.splitHoriz {
  background-position: -33px -189px;
}
.buttonIcon.splitVert {
  background-position: 0 -216px;
}
.Viper-button:active .buttonIcon.splitVert, .Viper-button.active .buttonIcon.splitVert, .Viper-button.selected .buttonIcon.splitVert {
  background-position: -33px -216px;
}
.buttonIcon.move {
  background-position: 0 -243px;
}
.Viper-button:active .buttonIcon.move, .Viper-button.active .buttonIcon.move, .Viper-button.selected .buttonIcon.move {
  background-position: -33px -243px;
}
.buttonIcon.addLeft {
  background-position: 0 -270px;
}
.Viper-button:active .buttonIcon.addLeft, .Viper-button.active .buttonIcon.addLeft, .Viper-button.selected .buttonIcon.addLeft {
  background-position: -33px -270px;
}
.buttonIcon.addRight {
  background-position: 0 -297px;
}
.Viper-button:active .buttonIcon.addRight, .Viper-button.active .buttonIcon.addRight, .Viper-button.selected .buttonIcon.addRight {
  background-position: -33px -297px;
}
.buttonIcon.splitMerge {
  background-position: 0 -324px;
}
.Viper-button:active .buttonIcon.splitMerge, .Viper-button.active .buttonIcon.splitMerge, .Viper-button.selected .buttonIcon.splitMerge {
  background-position: -33px -324px;
}
.buttonIcon.headingCheck {
  background-position: 0 -351px;
}
.Viper-button:active .buttonIcon.headingCheck, .Viper-button.active .buttonIcon.headingCheck, .Viper-button.selected .buttonIcon.headingCheck {
  background-position: -33px -351px;
}
.buttonIcon.headerAbbr {
  background-position: 0 -378px;
}
.Viper-button:active .buttonIcon.headerAbbr, .Viper-button.active .buttonIcon.headerAbbr, .Viper-button.selected .buttonIcon.headerAbbr {
  background-position: -33px -378px;
}
.buttonIcon.cssClass {
  background-position: 0 -405px;
}
.Viper-button:active .buttonIcon.cssClass, .Viper-button.active .buttonIcon.cssClass, .Viper-button.selected .buttonIcon.cssClass {
  background-position: -33px -405px;
}
.buttonIcon.anchorID {
  background-position: 0 -432px;
}
.Viper-button:active .buttonIcon.anchorID, .Viper-button.active .buttonIcon.anchorID, .Viper-button.selected .buttonIcon.anchorID {
  background-position: -33px -432px;
}
.buttonIcon.table {
  background-position: 0 -459px;
}
.Viper-button:active .buttonIcon.table, .Viper-button.active .buttonIcon.table, .Viper-button.selected .buttonIcon.table {
  background-position: -33px -459px;
}
.buttonIcon.tableRow {
  background-position: 0 -486px;
}
.Viper-button:active .buttonIcon.tableRow, .Viper-button.active .buttonIcon.tableRow, .Viper-button.selected .buttonIcon.tableRow {
  background-position: -33px -486px;
}
.buttonIcon.tableCol {
  background-position: 0 -513px;
}
.Viper-button:active .buttonIcon.tableCol, .Viper-button.active .buttonIcon.tableCol, .Viper-button.selected .buttonIcon.tableCol {
  background-position: -33px -513px;
}
.buttonIcon.tableCell {
  background-position: 0 -540px;
}
.Viper-button:active .buttonIcon.tableCell, .Viper-button.active .buttonIcon.tableCell, .Viper-button.selected .buttonIcon.tableCell {
  background-position: -33px -540px;
}
