@import url(viper_tools.css);

.editable_attribute {
    outline: none;
}

.Viper-dragOverlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
}

[contentEditable="true"] li br + br:last-child {
  display: none;
}

.Viper-textbox-input::-ms-clear {
    display: none;
}

[contenteditable="true"] img::selection {
    background: transparent;
}

[contenteditable="true"] img::-moz-selection {
    background: transparent;
}

.Viper-hidden {
    display: none;
}