body {
    color: #888;
}

em {
    color: #888;
}

strong {
    color: #888;
}

strong em,
em strong {
    color: #888;
}

.Viper-button.Viper-disabled .Viper-buttonIcon {
    margin-left: -15px;
    margin-top: -15px;
}

.Viper-button.Viper-active .Viper-buttonIcon {
    margin-top: -8px;
    margin-left: -9px;
}

#content a,
#content a:hover,
#content a:visited {
	color: #888;
}