body {
    margin: 50px;
    background-color: #EEE;
    font-size: 20px;
    font-family: monospace;
}

#content {
    width: 800px;
    height: 600px;
    margin: 90px 0 0 250px;
    overflow: auto;
}

#menu {
    position: fixed;
    right: 100px;
    width: 100px;
    top: 50px;
}

#testTitle {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #666;
    color: #EEE;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    padding: 5px 0;
}

#windowTarget {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999999;
}

#msg {
    bottom: 30px;
    font-size: 12px;
    left: 10px;
    position: fixed;
}

* {
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}

#content table {
    font-size: 20px;
}

em {
    color: green;
}

strong {
    color: red;
}

strong em,
em strong {
    color: brown;
}

sub, sup {
    vertical-align: middle;
    font-size: 20px;
    font-family: monospace;
}

.Viper-button.Viper-disabled .Viper-buttonIcon {
    margin-top: -14px;
}

.Viper-button.Viper-active .Viper-buttonIcon {
    margin-top: -8px;
}

#__allBtns {
    top: 20px;
    left: 20px;
    position: fixed;
}

#__textFields {
    position: fixed;
    top: 400px;
}

#content.__calibrate-image {
    height: 100px;
}

h1,h2,h3,h4,h5,h6 {
    font-size: 20px;
}

td,th {
    min-width: 20px;
}

.Viper-button.Viper-disabled {
    font-family: monospace;
}

.Viper-button.Viper-active {
    text-align: left;
}
